<?xml version="1.0"?>
<configuration>
	<system.web>
		<pages theme="dotnetcomp_db">
			<controls>
				<add tagPrefix="TF" namespace="TF.Namespace.Controls" assembly="CtrlLib"/>
				<add tagPrefix="TF" tagName="UGridResult" src="~/UserControls/Gridview_grdResult.ascx"/>
				<add tagPrefix="TF" tagName="UGridResult_Artist" src="~/UserControls/Gridview_grdResult_Artist.ascx"/>
				<add tagPrefix="TF" tagName="UGridArtistdata" src="~/UserControls/grd_Artistdata.ascx"/>
				<add tagPrefix="TF" tagName="UGridArtister" src="~/UserControls/Gridview_gridArtister.ascx"/>
				<add tagPrefix="TF" tagName="UGridArtister_Artist" src="~/UserControls/Gridview_gridArtister_Artist.ascx"/>
			</controls>
		</pages>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false">
			<assemblies>
				<add assembly="MySql.Data, Version=5.2.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
	</system.web>
	<connectionStrings>
		<clear/>
		<remove name="FjarrUppkoppling"/>
		<remove name="PaServer"/>
		<remove name="lokal"/>
		<add name="FjarrUppkoppling" providerName="MySql.Data.MySqlClient" connectionString="Data Source=mysql118.tomstation.net;Initial Catalog=tomstation_net;User Id=tomf@t13120;Password=12qw6A;"/>
		<add name="PaServer" providerName="MySql.Data.MySqlClient" connectionString="Data Source=mysql118.tomstation.net;Initial Catalog=tomstation_net;User Id=tomst_net@t13120;Password=crmo6cqyssps1st2;"/>
		<add name="lokal" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost;Initial Catalog=skivor;User id=root;Password=qwe123;"/>
	</connectionStrings>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
