/*LAYERS*/


#container
{
      width:712px;
      height:640px;
      position:absolute;
      left:50%;
      margin-left:-356px;
      
}

#header
{
       height:40px;
       width:711px;
       background: transparent url(../bakgrundsbilder/header3.gif) no-repeat center bottom;
       float:left;
       color:#fff;
       font-size:12px;
}


#content
{
       background:#D8D8D8;
       float:left;
       color:#000;
       font-size:12px;
       width:711px;
       height:421px;
}

#navigation
{
       background: transparent url(../bakgrundsbilder/nav_bakgrund3.gif) no-repeat center bottom;
       color:#fff;
       font-size:12px;
       height:170px;
       width:712px;
       float:left;
}

/*DATUMVISNING*/
#datumruta
{
   position:absolute;
   right:50px;
   top:10px;
   font-weight:bold;
   color:#990033;
   background: #D8D8D8 no-repeat center bottom;
   width:121px;
   height:12px;
   border: 4px solid #fff;
   font-size:1.1em;
   font-family: Times New Roman, Georgia, Garamond, serif;
   padding-left:2px;
   padding-bottom:3px;
}

/*DISPLAY*/

.ruta{
       width:662px;
       height:370px;
       border: 5px solid #000;
       background:#D8D8D8;
       float:left;
       margin-right:0px;
       margin-left:10px;
       margin-right:10px;
       margin-bottom:10px;
       margin-top:10px;
       padding:10px;
       overflow:auto;
       font-size:1em;
       font-family: Times New Roman, Georgia, Garamond, serif;
}







/*TEXTFORMATERING:*/


/*KORTBIO:*/

#visakortbiodata
{
	margin-right:240pt;
	color:#000;
}                                                              
/*#bredd{margin-right:280pt;}*/



/*KOMMENTAR:*/
#visakommentar
{
	margin-right:240pt;
	color:#000;
}            



/*KORTBIOPANEL_INPUT:*/
#kortbiopanel_input
{
	margin-right:240pt;
	color:#000;
}     


/*KOMMENTARPANEL_INPUT:*/
#kommentarpanel_input
{
	margin-right:240pt;
	color:#000;
}     





/*DYNAMISKA BIOGRAFI BILDER*/

.dyn_pic
{
            border: 8px solid #990033;
            display: block;
}






/*HÅLLER NAVERIGERINGSOBJEKTEN (KONTROLLYTAN) PÅ PLATS*/

.move{margin-left:-16.4%;}




/*LABELS-KONTROLLYTA-RAD 1*/


.label1{color:#fff;bottom:152px;position:absolute;}


#label1_Artist {left:150px;}

#label2_Album {left:285px;}

#label3_Format {left:418px;}

#label4_Press {left:545px;}

#label5_Kommentar {left:675px;}

#label6_ar {left:612px;}








/*TEXTRUTOR-KONTROLLYTA-RAD 1*/

.text1{position:absolute;bottom:130px;}



#text3_Artist{left:150px;}

#text4_Album{left:285px;}

#text5_Format{left:418px;}

#text6_Press{left:545px;}

#text7_Kommentar{left:675px;}

#text8_ar{left:612px;}



/*LABELS-KONTROLLYTA-RAD 2*/

.label2{color:#fff;bottom:105px;position:absolute;}



#label7_VPfr {left:150px;}

#label8_VPtill {left:215px;}

#label9_Ursland {left:285px;}

#label10_Ursstad {left:352px;}

#label11_Musiktyp{left:430px;}




/*TEXTRUTOR-KONTROLLYTA-RAD 2*/


.text2{position:absolute;bottom:85px;}


#text9_VPfr{left:150px;}

#text10_VPtill{left:215px;}

#text11_Ursland{left:285px;}

#text12_Ursstad{left:352px;}

#text13_Musiktyp{left:430px;}





/*KNAPPPAR-KONTROLLYTA*/

.input
{
  font-style: normal;
  font-weight:bold;
  color: #006400;
  font-size:0.8em;
  font-family: Times New Roman, Georgia, Garamond, serif;
  height:29px;
  background: transparent url(../knappar/knapp_nav.gif) no-repeat center bottom;
  border:0;
  width:80px;
  position:absolute;
}

input.input:hover{color:#990033;}



/*DYNAMISK GEN KOMMENTAR-KNAPP*/

.cmt
{
     background: transparent url(../knappar/tryck_knapp.gif) no-repeat center bottom;
     border:0;
     width:70px;
     height:33px;
     color:#fff;
     font-weight:bold;
     font-size:0.8em;
     font-family: Times New Roman, Georgia, Garamond, serif;
}

input.cmt:hover{color:#fff; background: transparent url(../knappar/tryck_knapp_hover.gif) no-repeat center bottom;}



/*DYNAMISK GEN ARTIST-KNAPP*/

.arti
{
      background: transparent url(../knappar/knapp_artist3.gif) no-repeat center bottom;
      border:0;
      width:130px;
      height:20px;
      color:#990033;
      font-size:0.8em;
      font-family: Times New Roman, Georgia, Garamond, serif;
}

input.arti:hover{color:#006400; background: transparent url(../knappar/knapp_artist3_hover.gif) no-repeat center bottom;}





/*RAD 1*/

.rad1{bottom:52px;}

#button_visa_databas{left:150px;}

#button_sok{left:230px;}

#button_info{left:310px;}

#button_Borja_om{left:390px;}

#button_Refresh{left:470px;}







/*GENERELL FORMATERING*/

body
{
     background-color:#863E58;
     background-image:url(../bakgrundsbilder/bg_toning2.gif);
     background-repeat: repeat-x;

      /* Antal varianter på text-layout: */	
     /*font-family: verdana, arial, sans-serif;*/
     /*font-family: Times New Roman, verdana, sans-serif;*/
     /*font-family: Times New Roman, Georgia, Garamond, serif;*/
       font-family:Garamond, Times New Roman, Georgia, serif;


}

a:link {color:#000; text-decoration: underline; }
a:active {color:#000; text-decoration: underline; }
a:visited {color:#000; text-decoration: underline; }
a:hover {color:#990033; text-decoration: underline; }

H1 {font-size:16pt;color:#fff;background-color:#990033;}
H2 {font-size:13pt; color:#000;}
H3 {font-size:10pt; color:#006400;}







/* VALKNAPPAR (Radio-buttons): */


.optSkivtabell
{
    position:absolute;
	bottom:60px;
	left:460px;
}

.optArtisttabell
{   
	position:absolute;
	bottom:40px;
	left:460px;
}

.optInkopstabell
{
	position:absolute;
	bottom:20px;
	left:460px;
}



/* LABELS TILL VALKNAPPAR (Radio-buttons): */

.label3{color:#fff;position:absolute;font-weight:bold;font-size:1em;}

#label13_TBskivor{left:600px;bottom:60px;}

#label14_TBartist{left:600px;bottom:40px;}

#label15_TBinkop{left:600px;bottom:20px;}









/* GRIDVIEWS: */




/* Gridview_gridArtister: */


/* Templatefield-Kommentar (även för Gridview_grdResult):  */

.cmt_align
{
   padding-left:30px;
}

/* Headerstyle-formatering: */

.header
{
	 text-align:left;
}


.pos_gridartist
{
 padding-left:20px;
}







/* Gridview_grdResult: */


.pos_grdresult
{
   padding-left:20px;
}




/* grd_Artistdata: */


/* headerformatering: */


.pos_gridartistdata
{
   padding-left:20px;
}

.pos_kortbio
{
   padding-left:40px;
}






/*Gemensamt för alla tre gridviews: *

/* Item-formatering: */

.grid_style
{
   padding-left:20px;
}







/* CHARTS: */


/* 3D-Piechart till infosida: */

.ch3DPie
{
position: relative;
bottom:280px;
left:270px;	
} 

.lbl3DPie
{
position:relative;
bottom:275px;
right:60px;	
font-size:1em;
font-family: Times New Roman, Georgia, Garamond, serif;
font-weight:bold;
color:#fff;
background-color:#990033;
}

